/* Write your CSS here */
.btn {
  color: #0f172a;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  padding: 16px;
  cursor: pointer;
  outline: none;
}

.selected-btn {
  color: #0284c7;
  border-radius: 16px;
  border: 1px solid #0284c7;
}
